/*  Styling for the recipe_blog.html
    Author: Zoey Sears
    Date: 4.6.22
    Filename: style.css
    Used in recipe_blog.html
*/

/* Tables */
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
}

/*Button*/
.button{
    text-align: right;
}